* {
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #293264;
  background-color: #f5f7fb;
}

.start-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* background: #f5f7fb;
  color: #293264; */
}

.start-title {
  font-size: 36px;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.start-desc {
  margin-top: 2px;
  margin-bottom: 30px;
}

.start-button {
  background: #4d5b9e;
  border-radius: 15px;
  color: white;
  padding: 15px 40px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  /* align-items: center;
  justify-content: center; */
  margin: auto auto;
  background: #f5f7fb;
  color: #293264;
  border: #4d5b9e;
}

.question-answer {
  width: fit-content;
  max-width: 100%;
  margin: auto auto;
}

.question-section {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 30px;
  font-weight: bold;
}

.answer-section {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  /* grid-column-start: 2; */
  margin: auto auto;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(77, 90, 158, 0.4);
}

.answer-section-btn {
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  /* position: relative; */
  border: 1px solid #4d5b9e;
  border-radius: 5px;
  padding: 0.3em 0.6em;
  font-family: inherit;
  /* border:  */
}

.answer-section-btn:hover {
  background: #4d5b9e;
  color: #6d76a5;
}

.submit-btn-container {
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  background-color: #4d5b9e;
  color: white;
  max-width: fit-content;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  border-radius: 5px;
}

.submit-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.score-section {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 15px 40px;
  align-items: center;
}

.restart-btn {
  background-color: #4d5b9e;
  color: white;
  max-width: fit-content;
  max-height: 60%;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  border-radius: 5px;
}
